@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* apply radial gradient background  using tailwindcss */
  @apply w-full h-full;
  /* background: radial-gradient(circle, #fafafa, #f5f5f5);*/
  background: #000;
  font-family: 'Space mono', sans-serif;
  overflow-x: hidden;
  color: #fff;
}

* {
  scrollbar-color: #27bece55 #00000000;
  transition: 0.07s ease-in-out;
}


h1 {
  font-family: 'Space Mono', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.slide {
  transition: 0.1s ease-in-out !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: 0;
    blur: 100px;
  }

  70% {
    opacity: 0;
    z-index: 0;
  }

  90% {
    z-index: 10;
  }

  100% {
    opacity: 1;
    z-index: 10;
    blur: 0;
  }
}

.gradient-text0 {
  background: linear-gradient(90deg, #ff0080, #1bb7ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-text1 {
  background: linear-gradient(90deg, #00eaff, #2a1bff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
